style(type="text/css").
  table {
    width: 100%;
    font: "arial", "sans-serif"
  }

  th {
    background-color: whitesmoke;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    padding: 1em;
  }
  
  td {
    border: 1px solid black;
    padding: 1em;
  }
head 
      title= `${title}`
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="stylesheet", href="/")  
body    
       h1 Your Pet Cats
       a.btn(href="/update-cobj") Add/Update   
       table
         thead
            tr
            each header in headers
                th= header
            tbody
                each field in fields
                    tr
                    td= field.Name
                    td= field.Birthdate
                    td= field.Colour
                    td= field.Gender
                    
                   
                    
